/* CSS declarations go here */
* {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}
.container-inner {
	max-width: 800px;
	margin: auto;
}

.item-right {
	float: right;
}
.item {
	width: 100%;
	border-bottom: 1px solid #e6e6e6;
}
.item-elem {
	padding: 10px;
	line-height: 30px;
	font-size: 20px;
	display: inline-block;
}
